name: Lint conventions

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  commitlint:
    if: github.event_name == 'pull_request'
    name: Conventional Commitlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "24"

      - name: Install commitlint
        run: npm install -g commitlint@v20.4.2

      - name: Run commitlint
        run: commitlint --verbose --from ${{ github.event.pull_request.base.sha }} --to ${{ github.sha }}
