name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install Prettier
        run: npm install -g prettier@3.7.4

      - name: Run Prettier
        run: prettier --check "**/*.{md,yml,yaml,json}"

  markdown:
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Install markdownlint-cli2
        run: npm install -g markdownlint-cli2@0.20.0

      - name: Run markdownlint
        run: markdownlint-cli2 .

  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Run ShellCheck
        run: |
          cd scripts
          shellcheck -x *.sh

  hadolint:
    name: Hadolint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: Dockerfile
